run = "cd backend && npm run dev"
entrypoint = "backend/src/index.ts"

[nix]
channel = "stable-22_11"

[deployment]
run = ["cd", "backend", "&&", "npm", "run", "dev"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173
